.search-cardid {
    border: 5px solid #d09133;
    box-shadow: 0 1px 0 0 #fff;
    border-radius: 50px;
}

.search-cardid > div > .input-search-cardid{
    border-bottom: 0px;
    font-size: 2em;
}

.search-cardid > div > .input-search-cardid:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.gold , .gold:hover{
    background-color: #d09133;
}

.orange , .orange:hover{
    background-color: #ff9e50;
}

#btn-search-cardid i {
    line-height: 95px;
    font-size: 2rem;
}

/* .material-input {
    position: relative;
    border-radius: 4px;
    border: 2px solid #bdc3c7;
    padding: 24px 16px 8px 16px;
    display: block;
    cursor: text;
    overflow: hidden;
}

.material-input.filled,
.material-input.hovered {
    border-color: #2ecc71;
}

.material-input.filled>span,
.material-input.hovered>span {
    color: #2ecc71;
    font-size: 12px;
    top: 5px;
    transform: none;
    transition: top 0.2s ease, font 0.2s ease;
}

.material-input span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    color: #7f8c8d;
    font-size: 15px;
    line-height: 18px;
    padding: 2px 0;
    transition: top 0.2s ease, font 0.2s ease;
}

.material-input .input-control {
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    font-family: inherit;
} */