li.list {
    list-style-type: square;
}

.card-action {
    text-align: center
}
/************************************************/
.pricing-table {
    margin-top: 50px;
    border: 4px solid #f99324;
}

.pricing-table .pricing-header {
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.pricing-table .pricing-header i {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    padding-left: 5px;
    margin-left: -40px;
    font-size: 35px;
    background-color: #ffffff;
    transform: translateY(-50%);
    color: #f99324;
}

.parallax-small {
    height: 250px;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #f99324;
    font-size: x-large;
}